input[type=button] {
  all: unset;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}
body{
  flex-direction: column; 
  justify-content: center;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  background-image: url("WoodBackground.jpg");
}
main{
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.title{
  z-index: 99;
  background-color: rgb(7, 6, 4);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 4px solid rgb(255, 255, 255);
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  padding: .5rem;
  filter: drop-shadow(1px 1px 1px rgb(59, 59, 59));
  
}

.navbar{
  display: flex;
  text-align: center;
  padding-top: 10px;
  font-size: 12pt;
}
.logo{
  margin-right: 2rem;
  color: rgb(255, 255, 255);
  font-size: 12pt;
  text-decoration-line: none;
  font-family: 'Lora' ,serif;
  background-color: rgb(7, 6, 4);
  padding: 15px;
  text-transform: uppercase;
  transition: .3s;
  padding-right: 10px;
  max-width: 200px;
  font-size: 14pt;
}

.navlink:hover {
  color: rgb(185, 128, 20);
  background-size: 100% 3px;
  transition: .3s;
  font-weight: 900;
}
.navlink:active{
  color: rgb(185, 128, 20);
  font-size: 11pt;
}

.navlink{
  background-image: linear-gradient(90deg, rgb(185, 128, 20),rgb(119, 78, 39));
  background-size:0% 3px;
  background-repeat:no-repeat ;
  background-position: left bottom;
  transition: background-size 300ms ease ;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
  font-size: 12pt;
  text-decoration-line: none;
  font-family: 'Lora' ,serif;
  background-color: rgb(7, 6, 4);
  padding: 15px;
  text-transform: uppercase;
  transition: .3s;
  padding-right: 10px;
  display: flex;
  justify-self: end;
}


.logout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 0;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 2em;
}

button {
  font-weight: 30pt;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  overflow: hidden;
  border: 1px solid rgb(175, 175, 175);
  margin: .9rem .5em;
  border-radius: 30px;
  background-color: rgb(10, 10, 9);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
  letter-spacing: .15rem;
  padding: .75em 1.5em;
  word-wrap: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: rgb(174, 174, 174);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset .5px .5px 2px 0px black;
}

.login-register-button {
  all: unset;
  background: none;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.login-register-button:hover {
  background-color: unset;
}

.login-register-button:active {
  color: red;
  box-shadow: unset;
}

.login-register-button:visited {
  color: purple;
}

/* home slider below */
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

#i1, #i2, #i3, #i4, #i5{ display: none;}

.container {
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 38%;
  user-select: none;
  background-color: #1c1c1c;
  border: solid 2px #000000;
  border-radius: 10px;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .slide_img img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.prev, .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, .2);
  color: rgba(244, 244, 244, .9);
  z-index: 99;
  transition: .45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover, .next:hover {
  transition: .3s;
  background-color: rgba(88, 88, 89, .8);
  color: #ffffff;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 1;
  cursor: default;
}

#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: .4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: .25s
}

.slide_img {
  z-index: 0;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five {
  z-index: 1;
  animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1,
#i2:checked~#nav_slide #dot2,
#i3:checked~#nav_slide #dot3,
#i4:checked~#nav_slide #dot4,
#i5:checked~#nav_slide #dot5 {
  background-color: rgba(255, 255, 255, .9);
}

@keyframes scroll {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

.yt {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: 150px;
  height: 50px;
  border: outset #2c2c2c 4px;
  border-radius: 10px;
  text-align: center;
  font-size: 30pt;
  transition: .5s;
}

.yt a {
  text-decoration: none;
  color: #4c4c4c;
  transition: .5s;
}

.yt:hover {
  background: #4c4c4c;
  transition: .3s;
}

.yt:hover a {
  color: #fff;
  transition: .3s;
}

@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span { 
    font-size: 50pt; 
  }

  .prev, .next{
    width: 15%;
  }

  #nav_slide .dots{
    width: 12px;
    height: 12px;
  }
}

@media screen and (min-width: 970px){
  .me { 
    display: none;
  }
}
.inventory-container{

  padding: 2rem 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.item-box{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
  border: #000000 3px solid;
  box-shadow: -2px 5px 15px -1px rgba(0,0,0,0.46);
  max-height: 20%;
}
.inventory-img{
  max-width: 20%;
  max-height: 20%;
}
.item-details{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 10px;
  text-align: left;
}
.item-details:hover{
  background-color: lightgray;
}
.item-title{
  font-weight: bolder;
  font: 20pt;
}

.login{
  flex-direction: column;
  display: flex;
  text-align: center;
  max-width: 40%;
  background-color: #fff;
  padding: 30px;
}

.featuredInventory{
  position: fixed ;
  background-color:rgb(78, 77, 77);
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(5px 5px 10px #000);
  transition: all 1s ease-in-out;
  overflow-y: scroll;
  height: 50%;
  width: 40%;
}