input[type=button] {
  all: unset;
}
html {
  width: 100vw;
}
.app-container h1 {
  color: var(--green);
  /* padding: 1rem; */
}
body{
  flex-direction: column; 
  justify-content: center;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  background-image: url("WoodBackground.jpg");
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main{
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.5em;
}

.title{
  z-index: 99;
  background-color: rgb(7, 6, 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgb(255, 255, 255);
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  padding: .5rem;
  filter: drop-shadow(1px 1px 1px rgb(59, 59, 59));
}

.navbar-here,.navbar-away{
  display: flex;
  text-align: center;
  /* padding-top: 10px; */
  font-size: 12pt;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  right: 30px;
  position: fixed;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after{
  content: '';
  display: flex;
  position: absolute;
 
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
.hamburger-closed{
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.hamburger-open{
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.logo{
  margin-right: 1em;
  margin-left: 1em;
  color: rgb(255, 255, 255);
  font-size: 12pt;
  text-decoration-line: none;
  font-family: 'Lora' ,serif;
  background-color: rgb(7, 6, 4);
  /* padding: 10px; */
  text-transform: uppercase;
  transition: .3s;
  /* padding-right: 10px; */
  /* max-width: 300px; */
  /* font-size: 14pt; */
}

.navlink, input[type=button]{
  background-image: linear-gradient(90deg, rgb(185, 128, 20),rgb(119, 78, 39));
  background-size:0% 3px;
  background-repeat:no-repeat ;
  background-position: left bottom;
  transition: background-size 300ms ease ;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
  font-size: 10pt;
  text-decoration-line: none;
  font-family: 'Lora' ,serif;
  background-color: rgb(7, 6, 4);
  padding: 15px;
  text-transform: uppercase;
  transition: .3s;
  padding-right: 10px;
  display: flex;
  justify-self: end;
}
input[type=button] {
  margin-right: 1em;
}
.navlink:hover {
  color: rgb(185, 128, 20);
  background-size: 100% 3px;
  transition: .3s;
  font-weight: 900;
}
.navlink:active{
  color: rgb(185, 128, 20);
  font-size: 11pt;
}
a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12pt;
  text-decoration-line: none;
  font-family: 'Lora' ,serif;
}

.logout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5em .5em;
  border: 1px solid rgb(175, 175, 175);
  background-color: lightgray;
  border-radius: 1em;
}

button {
  font-weight: 30pt;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  overflow: hidden;
  border: 1px solid rgb(175, 175, 175);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
  margin: .9rem .5em;
  border-radius: 30px;
  background-color: rgb(10, 10, 9);
  letter-spacing: .15rem;
  padding: .75em 1.5em;
  word-wrap: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: rgb(174, 174, 174);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset .5px .5px 2px 0px black;
}

.login-register-button {
  all: unset;
  background: none;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.login-register-button:hover {
  background-color: unset;
}

.login-register-button:active {
  color: red;
  box-shadow: unset;
}

.login-register-button:visited {
  color: purple;
}
.inventory-container,
.user-order-container {
  width: 93%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.inventory-container {
  cursor: pointer;
}

.order-item-box {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 0.5em;
}
.order-item-box .inventory-img {
  border-top-left-radius: .375em;
  border-bottom-right-radius: .5em;
}

.order-item-box,
.item-box {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
  max-height: 20%;
  width: 100%;
}

.item-box {
  box-shadow: -2px 5px 15px -1px rgba(0, 0, 0, 0.46);
  margin-top: 1rem;
  border-radius: 0.5em;
  border: #474747 2px solid;
}

.inventory-img {
  width: 33%;
  height: 33%;
}

.item-details {
  display: flex;
  flex-direction: column;
  /* padding-left: 20px; */
  align-items: left;
  padding: 0.5em 1em;
  text-align: left;
  gap: 0.5em;
  width: 100%;
}
.item-details p {
  margin: 0;
}
.item-details button {
  align-self: center;
}

.item-box:hover {
  background-color: lightgray;
}

.item-title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom:0.5em;
}

.delete, .edit {
  margin: 0;
}

.login {
  flex-direction: column;
  display: flex;
  text-align: center;
  max-width: 40%;
  background-color: #fff;
  padding: 30px;
}

.featured-container {
  position: fixed;
  left: 0;
  top: 4em;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-wrap: normal;
  /* background-color: rgb(78, 77, 77); */
  background-color: rgb(229, 228, 228);
  color: black;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/* TODO: media query to make this flex column when narrow and portrait  */
.featuredInventory {
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  /* padding: 1rem; */
  /* margin-top: 0; */
  /* transform: translate(-50%, -50%); */
  /* filter: drop-shadow(5px 5px 10px #000); */
  /* transition: all 1s ease-in-out; */
  /* height: 50%; */
  /* width: 40%; */
  /* height: 90%; */
  /* width: 90%; */
  /* TODO */
  display: flex;
  /* flex-direction: row;  */
  /* align-items: flex-start;  */
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  text-align: left;
  background-color: white;
  border-radius: 0.75em;
}
.featured-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.featured-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.featured-bottom span {
  margin-top: .5em;
}
/* .featuredInventory button {
  margin: 1em 1em 1em 0;
} */

.featured-img {
  max-width: 40%;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.75em;
}

.featured-info {
  display: flex;
  flex-direction: column;
  flex: 2 1 300px;
  padding: 0 1.5em;
  height: fit-content;
}
.featured-bottom .login-register-button {
  text-align: center;
  margin: 1em;
} 
.featured-info h1 {
  margin-top: 0.25em;
}
.featured-info button,
.featured-info p {
  margin-top: 0;
  margin-right: 0;
}
.featured-bottom button {
  margin-bottom: .25em;
  margin-top: 0;
  text-align: center;
}
#back-button {
  position: fixed;
  top: 9%;
  right: 3%;
}
.smaller-details {
  font-size: 10pt;
  text-align: right;
  margin: 0;
  padding: 0.25em 0
}

.review-outer-box {
  width: 100%;
  margin: 0;
}
.review-container {
  /* width: 98%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  gap: 0.5em;
  /* align-items: normal start flex-start; */
  justify-content: space-between;
  /* margin-bottom: 4.5em; */
  margin: 1em;
  margin-bottom: 3.5em;
}
.featuredInventory, .indiv-reviews, .create-review-popup, .featured-img {
  border: 1px solid rgb(175, 175, 175);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
}
.indiv-reviews {
  width: 100%;
  font-size: 11pt;
  background-color: white;
  color: black;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.indiv-reviews h2 {
  margin: 0;
  font-size: 14pt;
}
.indiv-reviews p {
  margin: 0;
}
.indiv-reviews .smaller-details {
  margin-right: 2em;
}
.create-review-popup {
  width: 400px;
  height: 300px;
}
.create-review-popup form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
}
.create-review-popup button {
  margin: 0;
}
.create-review-popup,
.update-create-inventory {
  /* overflow-y:scroll; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: '500';
  background-color: lightgray;
  border-radius: 2em;
}
.create-review-popup textarea,
.update-create-inventory textarea {
  width: 85%;
  padding: .5em;
  border-radius: 1em;
}
.cart-container {
  /* background-color: white; */
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.cart-form {
  background-color: rgb(229, 228, 228);
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
  padding-bottom: 1em;
  margin-top: 1em;
}
.cart-form button {
  margin-bottom: 0;
}
.cart-form, .cart-item {
  border-radius: 0.75em;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px 0px;
}
.cart-item {
  padding: 1em;
  background-color: white;
  width: 97%;
  max-width: 90vw;
  word-wrap: normal;
}
.cart-item-top {
  display: flex;

}
.cart-item-bottom {
  display: flex;
  flex-direction: column;
}
.cart-info {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
.cart-info h2 {
  margin-top: 0;
}
.cart-info-buttons {
  text-align: center;
}
.cart-info-buttons button {
  margin-top: 0;
}
.quantity-p {
  height: 2.25em;
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  text-align: left;
  gap: 1em;
}
.quantity-form-buttons {
  margin: 0;
  margin-left: 1.1em;
}
.admin-body {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
  width: 90%;
}

.create-inventory-button {
  position: fixed;
  bottom: 2%;
  right: 4%;
}

.update-create-inventory {
  background-color: rgb(78, 77, 77);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 80vw;
  max-width: 600px;
  gap: 10px;
}

#all-users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  margin: 1em 0;
}

.single-user {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  /* margin: 5px 10px; */
  padding: 10px 30px;
  flex: 1 0 250px;
  border-radius: 10px;
  /* background: rgb(78, 77, 77); */
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  border: 1px solid rgb(175, 175, 175);
}
.single-user button {
  align-self: center;
}
.single-user h2, p {
  margin: 0;
}

.single-user p {
  text-align: left;
}

.statement {
  color: white;
  font-size: 20px;
  width: 70%;
}

.orders {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem 0;
  gap: 1rem;
  font-size: 16pt;
  text-align: left;
}

.orders h3 {
  border-bottom: 1px solid black;
  margin-top: 0;
  text-align: left;
}

.order-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  width: 80%;
  gap: 0.5em;
}

.order-details p {
  margin: 0;
  font-size: 12pt;
}

.order-box {
  gap: 2rem;
  font-size: 16pt;
}

.page-titles {
  font-family: 'Lora', serif;
  font-size: 16pt;
  background-color: rgb(7, 6, 4);
  color: white;
  font-weight: bolder;
  padding: 15px;
  padding-right: 60px;
  padding-left: 60px;
  border: 2px solid white;
  width: 100%;
  margin: 0;
  border-radius: 0.5em;
}

.admin-orders {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.admin-indiv-orders {
  text-align: left;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 1em;
}

.admin-indiv-orders h3 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

.orders-right-side,
.cart-info {
  flex-grow: 1;
}

.order-info {
  padding-right: 20px;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.items-info {
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 100%;
  padding: 10px;
}

.items-info h3 {
  margin-top: 0;
  border-bottom: none;
}
/* home slider below */
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

#i1, #i2, #i3, #i4, #i5{ display: none;}

.container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  max-width: 600px;
  max-height: 300px;
  /* TODO: why can't i contain the height so it doesn't grow to fill screen on largd screen */
  padding-bottom: 38%;
  user-select: none;
  background-color: #1c1c1c;
  border: solid 2px #000000;
  border-radius: 10px;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container .slide_img img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.prev, .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, .2);
  color: rgba(244, 244, 244, .9);
  z-index: 99;
  transition: .45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev:hover, .next:hover {
  transition: .3s;
  background-color: rgba(88, 88, 89, .8);
  color: #ffffff;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 1;
  cursor: default;
}

#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: .4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: .25s
}

.slide_img {
  z-index: 0;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five {
  z-index: 1;
  animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1,
#i2:checked~#nav_slide #dot2,
#i3:checked~#nav_slide #dot3,
#i4:checked~#nav_slide #dot4,
#i5:checked~#nav_slide #dot5 {
  background-color: rgba(255, 255, 255, .9);
}

@keyframes scroll {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

.yt {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: 150px;
  height: 50px;
  border: outset #2c2c2c 4px;
  border-radius: 10px;
  text-align: center;
  font-size: 30pt;
  transition: .5s;
}

.yt a {
  text-decoration: none;
  color: #4c4c4c;
  transition: .5s;
}

.yt:hover {
  background: #4c4c4c;
  transition: .3s;
}

.yt:hover a {
  color: #fff;
  transition: .3s;
}

@media screen and (max-width: 685px) {
  .container {

    border: none;
    width: 85%;
    max-height: 33%;
    padding-bottom: 55%;
    
  }

  label span { 
    font-size: 50pt; 
    transform: translate(-50%, -50%);
  }

  .prev, .next{
    width: 15%;
  }

  #nav_slide .dots{
    width: 12px;
    height: 12px;
  }
}

@media screen and (min-width: 970px){
  .me { 
    display: none;
  }
}

@media screen and (min-width: 900px) {

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    display: none;
  }

  .menu-btn__burger {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  main {
    margin-top: 5em;
  }
  .featured-container {
    top: 3.5em;
  }


  .navbar-away {
    position: absolute;
    top: -800px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    transition: 1s;
  }

  .navbar-here {
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 1s;
  }

  .hamburger-closed {
    z-index: 101;
    opacity: 100%;
    transition: .3s;
  }

  .hamburger-open {
    z-index: 101;
    opacity: 100%;
    transition: .3s;
  }

  .hamburger-open .menu-btn__burger {
    transform: translateX(-50px);
    width: 0px;
    background: transparent;
    box-shadow: none;
  }

  .hamburger-open .menu-btn__burger::before {
    position: relative;
    transition: .3s;
    z-index: 101;
    transform: rotate(45deg)translate(3px, 0px);
  }

  .hamburger-open .menu-btn__burger::after {
    position: relative;
    transition: .3s;
    z-index: 101;
    transform: rotate(-45deg)translate(5px, 0px);
  }
}